.creditsList {
  list-style: none;
}

.actorName::before {
  content: '';
  background-color: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}